<font size="7" color="black" face="Comic Sans MS,arial">Comunidad de Software Libre de la UNI</font> 
<p>
<font size="3" color="black" face="Comic Sans MS,arial">La Comunidad de Software Libre de la Universidad Nacional de Ingenieria CSLUNI, fue la primera comunidad que surgio el el año 2002, como iniciativa de un grupo de estudiantes de promover, investigar, desarrollar y difundir el Software Libre.Donde la forma de trabajo se basa en el modelo de desarrollo comunitario y colectivo.
</p>
<p>
"NUESTRO FUTURO DEPENDE DE NUESTRA FILOSOFÍA"
Este grupo esta dedicado para compartir y difundir la informacion y noticias que giren en el ambito al Software Libre, GNU/Linux, Open Source y demás relacionados</font>

</p>
</br>


	<font size="5" color="blue" face="Comic Sans MS,arial">Primera Generacion</font> 
	</br>

<div class="row">
	<div class="col-md-6">
		<img class="img-rounded img-responsive" src="https://scontent-dfw.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/p180x540/382909_10150445762787719_583655762_n.jpg?oh=d4cafa8ca4033c5b37ca8673548dbe1b&oe=55A2D5EC" alt="">
	</div>
	
	<div class="col-md-6">
		<img class="img-rounded img-responsive" src="https://scontent-dfw.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/p180x540/387256_10150445764797719_1361141030_n.jpg?oh=044a1a4da964c4f96284e1ba2c394c50&oe=55AB4B39" alt="">
	</div>
	
	<div class="col-md-6">
		<img class="img-rounded img-responsive" src="https://scontent-dfw.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/p180x540/377831_10150445777257719_528170617_n.jpg?oh=799b96382004f63fd47fb30a383b7824&oe=55AB3008" alt="">
	</div>
	
	<div class="col-md-6">
		<img class="img-rounded img-responsive" src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/p180x540/379100_10150445776252719_80748629_n.jpg?oh=3cedcf09fbb61f10b1083c237ef42ea7&oe=55A250D3&__gda__=1433415378_42144ab2099f59eb0a38c57ecb99978f" alt="">
	</div>

	<div class="col-md-6">
		<img class="img-rounded img-responsive" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/p180x540/383993_10150445780097719_672718370_n.jpg?oh=0e94896cba11eb3a754c00e3c1175e8d&oe=55A1EA54&__gda__=1437075498_526e57dc653399fa87f902426386b92a" alt="">
	</div>

	<div class="col-md-6">
		<img class="img-rounded img-responsive" src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/p180x540/380019_10150445910697719_827157141_n.jpg?oh=68512c45011ee5dc919a3ee9dbf44610&oe=55AA3495&__gda__=1438175723_600e4a8104cba95ce4092f8cea25c5b3" alt="">

	</div>
	</br>
	</br>
	<p>
<font size="5" color="blue" face="Comic Sans MS,arial">Segunda Generacion</font> 
</p>
	<div class="col-md-6">
		<img class="img-rounded img-responsive" src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/970387_10202269822856700_1559195892_n.jpg?oh=982dfc5552b1e0b3d2bca4634d6172a7&oe=55A2DF56&__gda__=1437904396_f55ca16e740e8e9d2dcb92595ca87d8f" alt="">
	</div>
	<div class="col-md-6">
		<img class="img-rounded img-responsive" src="https://scontent-dfw.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1622639_891194187613959_6139424916005587270_n.jpg?oh=d6b750674203503297f9f7a81c4f37bc&oe=55A01D58" alt="">
	</div>
	<br>
	<p>
	<font size="5" color="blue" face="Comic Sans MS,arial">Eventos</font> 
	</p>
	<div class="col-md-6">
		<img class="img-rounded img-responsive" src="https://scontent-dfw.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1184831_10202269827016804_372654403_n.jpg?oh=452a18ba179a940ab2f4e22ff5050a6f&oe=55BA0AC3" alt="">
	</div>
	<div class="col-md-6">
		<img class="img-rounded img-responsive" src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/19281_891192664280778_6652915489530889160_n.jpg?oh=c7362319ad36984f751759ed4e884712&oe=55AC37F2&__gda__=1437425567_ee0397e287ed914e27d447c1abf99aed" alt="">
	</div>
	<div class="col-md-6">
		<img class="img-rounded img-responsive" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/21302_1579153025700588_8993669380253410985_n.jpg?oh=e8f2d6d2f61bca8b89bac2a7fdf879d5&oe=55B84080&__gda__=1436968450_5b9f49905ea30538edeff3244006ef96" alt="">
	</div>
	<div class="col-md-6">
		<img class="img-rounded img-responsive" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10463931_1582800325300832_1435114683508705226_n.jpg?oh=3157ea672de7d32a2b883643c3dc1847&oe=55BBBB36&__gda__=1438230118_b63702519257591cd9319441a049097a" alt="">
	</div>
	<div class="col-md-6">
		<img class="img-rounded img-responsive" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/11078082_948322841866728_7579624735755584400_n.jpg?oh=5f5f8f3c9ad6d89a3032c10759add5e0&oe=55B1E3E2&__gda__=1437663322_47207faf4279e11063954afd7e1cbe0f" alt="">
	</div>

	<br>
</div>
