<form action="mailto:emaildelaempresaquehaceelformulario@email.com" method="post" enctype="text/plain">
Nombre: <input type="text" name="nombre" size="25" maxlength="50"><br><br>
Apellidos: <input type="text" name="apellidos" size="35" maxlength="100">
<br><br>
Correo electr&oacute;nico: <input type="text" value=" " name="correo" size="40" maxlength="100">
<br><br>

Procedencia: <input type="text" name="provincia" size="15" maxlength="50">
<table width="100%" border="0" cellspacing="0" cellpadding="10">
<tr>

<br><br>
Temas a interesarte: <br>
<form action="continentes.php" method="get">
<select name="continente">
<option value="Ethical Hacking"> Arduino </option>
<option value="Servidores GNU/Linux">Razpberry</option>
<option value="MySQL & PHP">Prcesamiento digital de imagenes</option>
<option value="Asterisk">Computing Vision (open CV)</option>
<option value="Raspberry">Web development</option>
<option value="Domotica">Domotica</option>
<option value="Voz sobre IP(Asterisk)">Voz sobre IP(Asterisk)</option>
<option value="Administracion de Linux">Administracion de Linux</option>
<option value="Redes">Redes</option>
<option value="Ethical Hacking">Ethical Hacking</option>
</select>
</form>
<br>
<tr>
<table>
<textarea cols="40" rows="5" name="opinion">Escriba aqu&iacute; su opini&oacute;n...</textarea>
</table>
<br>

<table width="50%" border="0" align="center" cellpadding="10" cellspacing="0">
<tr>
<td><div align="center">
<input type="submit" value="Enviar formulario">
</div></td>
<td><div align="center">
<input type="Reset" value="Borrar formulario">
</div></td>
</tr>
</table>

</form>