<style>
	ul{
		list-style: none !important;
	}
</style>
<br>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<table class="table table-hover">
			<thead>
				<tr style="background-color: #555;color: #FFF;">
					<td>Puesto</td>
					<td>Nombres</td>
					<td>Especialidad</td>
					<td><i class="fa fa-phone"></i> Contacto</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><i class="fa fa-user"></i> Coordinador General</td>
					<td>Walter Casas</td>
					<td>Ing. Telecomunicaciones FIEE UNI</td>
					<td>971 302 146</td>
				</tr>
				<tr>
					<td><i class="fa fa-user"></i> Coordinador Academico</td>
					<td>Miguel Oviedo Rodriguez</td>
					<td>Computer Science FC UNI</td>
					<td>979 817 793</td>
				</tr>
				<tr>
					<td><i class="fa fa-user"></i> Coordinador de Proyectos</td>
					<td> Daniel Baldeon</td>
					<td>Ing. Telecomunicaciones FIEE UNI</td>
					<td> 963 992 449 </td>
				</tr>

				<tr>
					<td><i class="fa fa-user"></i> Coordinador de RRPP</td>
					<td> Jair Fuertes Lino</td>
					<td>Ing. Telecomunicaciones FIEE UNI</td>
					<td> 941 566 117 </td>
				</tr>
				<tr>
					<td><i class="fa fa-user"></i> Secretario General</td>
					<td>Kevin Loayza</td>
					<td>Mecatronica FIM UNI</td>
					<td>992 697 472</td>
				</tr>

				<tr>
					<td><i class="fa fa-user"></i> Tesorero</td>
					<td>Eisson Alipio</td>
					<td>Ing. Telecomunicaciones FIEE UNI</td>
					<td>983 516 088</td>
				</tr>
			</tbody>
		</table>
		<br><br>
		<ul>
			<li> <a target="_blank" href="https://www.facebook.com/groups/csluni/"><i class="fa fa-facebook-official"></i> Grupo en FB</a> </li>
			<li> <a target="_blank" href="https://www.facebook.com/cslibreuni"><i class="fa fa-facebook-official"></i> Fan Page</a> </li>
			<li> <a target="_blank" href="https://www.youtube.com/user/csluni"><i class="fa fa-youtube-play"></i> Youtube</a> </li>
			<li> <span class="label label-danger"> <i class="fa fa-envelope"></i> Correo</span>: cslunix@gmail.com </li>
		</ul>
	</div>
	<div class="col-md-1"></div>
</div>
