<h2>Quieres aprender? unetenos!</h2>
<div class="row">
	<div class="col-md-4">
		<img class="img-responsive img-rounded" src="img/cursos/cursosabril.jpg" />
	</div>

	<div class="col-md-4">
		<img class="img-responsive img-rounded" src="img/cursos/eh.jpg" />
	</div>
	<div class="col-md-4">
		<img class="img-responsive img-rounded" src="img/cursos/pm.jpg" />
	</div>
	<div class="col-md-4">
		<img class="img-responsive img-rounded" src="img/cursos/arduino1.jpg" />
	</div>
	<div class="col-md-4">
		<img class="img-responsive img-rounded" src="img/cursos/linux1.jpg" />
	</div>
<br>
</div>