<style>
	.vamo{
		padding: 15px;
	}
</style>
<h3>Estamos organizando un evento increible!</h3>
<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<img class="img-responsive img-rounded" src="img/events/marzo/hackv3.jpg" />
	</div>
	<div class="col-md-12 text-center vamo">
		<a href='#/registro' class="btn btn-success btn-lg btn-block"><i class='fa fa-star'></i> Registrarme Ahora!</a>
		<span>Esperamos verte ahi!</span>
	</div>
</div>

<p>Contaremos con la presencia de renombrados expositores del medio e integrantes de la csluni.</p>
<p>Los detalles de este evento se publicaran continuamente, Sin embargo puedes encontrar mas detalles aqui:</p>
<a href="https://www.facebook.com/events/977699068907713/" target='_blank'>
https://www.facebook.com/events/977699068907713/
</a>