<div class="row">

	<div class="col-md-12">
		<h2>Entrevista TV PERU:</h2>
		<div class="embed-responsive embed-responsive-16by9">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/tTCC0XXQpGY" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

	<div class="col-md-12">
		<h2>Entrevista Radio Capital:</h2>
		<div class="embed-responsive embed-responsive-16by9">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/ItImy_5xrnQ" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

	<div class="col-md-12">
		<h2>Hackathon IBM CONCYTEC:</h2>
		<div class="embed-responsive embed-responsive-16by9">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/hbgl6yqMo-0" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

	<div class="col-md-12">
		<h2>Charla de Conectividad &amp; Redes:</h2>
		<div class="embed-responsive embed-responsive-16by9">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/ewGMvH_GvjE" frameborder="0" width="100%" height="450" class="embed-responsive-item" allowfullscreen></iframe>
		</div>
	</div>


</div>