<h2>Afiche oficial de nuestro CURSO RASPBERRY PI.</h2>
<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<img class="img-responsive img-rounded" src="img/cursos/raspberry.jpg" />
	</div>
	<div class="col-md-3">
		<ul>
			<li>
			Duración: 32 horas
			</li>
			<li>
				Frecuencia:S&aacute;bados
			</li>
			<li>
				Horario: 4:00 - 9:00 pm
			</li>
			<li>
			Lugar: Facultad de Ingeniería Mecánica, pabellón A3 - 4 piso.
			</li>
			<li>
			Inversión: S/. 250
			</li>
			<li>
			Certificación: Comunidad de Software Libre de la UNI & Electrotec Perú SAC.
			</li>
		</ul>
		<p>
		Curso completamente práctico, con un temario innovador que te ayudarán a reforzar tu formación académica.
		No esperes m&aacute;s. <b>Inscríbete</b>: #961956448.
		</p>
	</div>
</div>